h1 {
    color: brown;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: chocolate;
}

#pie {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}