h1 {
    color: brown;
}

#cabecera {
    background-color: cadetblue;
    border: 1ch gold solid;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    background-color: black;
}

h2 {
    color: greenyellow;
}

h4 {
    color: blue;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pie {
    padding: 1% 5%;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
<<<<<<< HEAD
=======
    background-color: blue;
    padding: 0%;
}

#cuerpo{
    padding: 2% 10%;
    margin: 2px solid gold;
    color: firebrick;
    background-color: darkgoldenrod;
>>>>>>> 541982b (Reajustes al style de la pagina)
}